# Part 1
In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on: - Null hypothesis - Alternate hypothesis - Level of significance - Test statistic - P-value - F table

# Context
Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data anova_lab_data.xlsx file in the files_for_lab folder

# State the null hypothesis
State the alternate hypothesis
What is the significance level
What are the degrees of freedom of model, error terms, and total DoF
Data was collected randomly and provided to you in the table as shown: link to the image - Data

# Part 2
In this section, use Python to conduct ANOVA.
What conclusions can you draw from the experiment and why?

In [15]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

import statsmodels.api as sm
from statsmodels.formula.api import ols

In [2]:
#pip install xlrd==1.2.0

In [7]:
data = pd.read_excel('anova_lab_data.xlsx', sheet_name='data_collected')
data

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

- Null hypothesis H0: m0 = m1 = m2
- Alternate hypothesis H1: At least one of the mean for a different level of power is different to the other means
- Level of significance: The level of significance is 0.05
- Confidence level: 95%

In [8]:
data.columns

Index(['Power ', 'Etching Rate'], dtype='object')

In [9]:
data.columns = data.columns.str.replace(' ', '').str.lower().str.replace('etchingrate', 'etching_rate')
data.columns

Index(['power', 'etching_rate'], dtype='object')

In [10]:
data.power.unique()

array(['160 W', '180 W', '200 W'], dtype=object)

In [11]:
data.power = data.power.apply(lambda x: x.replace(' W', '') if x.endswith('W') else x)
data.power.unique()

array(['160', '180', '200'], dtype=object)

In [12]:
data.power = data.power.astype(int)

In [13]:
data.describe()

            power  etching_rate
count   15.000000     15.000000
mean   180.000000      6.782667
std     16.903085      1.228643
min    160.000000      5.430000
25%    160.000000      5.845000
50%    180.000000      6.240000
75%    200.000000      7.725000
max    200.000000      9.200000

In [17]:
data.pivot(columns='power').describe()

      etching_rate
power          160       180       200
count     5.000000  5.000000  5.000000
mean      5.792000  6.238000  8.318000
std       0.319875  0.434304  0.669604
min       5.430000  5.660000  7.550000
25%       5.590000  5.980000  7.900000
50%       5.710000  6.240000  8.150000
75%       6.010000  6.600000  8.790000
max       6.220000  6.710000  9.200000

In [14]:
data.groupby('power').agg(np.mean)

       etching_rate
power
160           5.792
180           6.238
200           8.318

In [16]:
model = ols('etching_rate ~ C(power)',data=data).fit()
sm.stats.anova_lm(model)

            df     sum_sq   mean_sq          F    PR(>F)
C(power)   2.0  18.176653  9.088327  36.878955  0.000008
Residual  12.0   2.957240  0.246437        NaN       NaN

In [20]:
from scipy.stats import ttest_ind

display_a = data[data['power'] == 200]['etching_rate']

for display in data['power'].unique():
    display_b = data[data['power'] == display]['etching_rate']
    print(display, ttest_ind(display_a, display_b))

160 Ttest_indResult(statistic=7.611403634613074, pvalue=6.237977344615716e-05)
180 Ttest_indResult(statistic=5.827496614588661, pvalue=0.00039267964760490845)
200 Ttest_indResult(statistic=0.0, pvalue=1.0)